@font-face {
    font-family: Planewalker;
    src: url(/fonts/Planewalker.otf);
  }
  @font-face {
    font-family: Planewalker;
    src: url(/fonts/Planewalker_Bold.otf);
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: Planewalker;
    src: url(/fonts/Planewalker_Bold_italic.otf);
    font-weight: bold;
    font-style: italic;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Planewalker, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #b5a6d7;
}

#playarea {
    border: 30px solid transparent;
    border-image: url('/icons/bezel.png') 100 round;
    max-width: 500px;
    max-height: 1000px;
    height: 100%;
    width: 100%;
    background-image: repeating-radial-gradient(circle closest-side,  #b5a6d7 0%, #7340e4 17%, #b5a6d7 33%, #7340e4 50%, #b5a6d7 67%, #7340e4 83%, #b5a6d7 100%);
}

#playcontent {
    text-align: center;
    margin: 1em;
}marin

table {
    width: 100%;
}

a {
    border-radius: 0.5em;
    background-color: #b5a6d7;
    padding: 0.25em 0.5em;
    font-weight: bold;
    border: 3px outset #c2b7db;
    text-decoration: none;
    filter: drop-shadow(5px 5px 12px #b5a6d7);
}

p {
    margin: 1.5em 0;
}

#screen {
    width: 100%;
    height: 100%
}

td {
    width: 33%;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 300%;
    border: 8px outset black;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#keyboard {
    max-width: 400px;
}